body {
  background-image: url('/images/contact-us-bg.webp');
}

.container {
  background-color: blue; width: 500px;
}

#message {
  height: 150px;
}

#form-submit {
  background-color: white;
}

@media only screen and (max-width: 550px) {

  .container {
    width: 100%;
  }
  
  form {
    width: 100%;
  }

  /* button {
    width: 40%;
    
  } */

  /* .btn {
    text-align: center;
  } */



}