/* Carousel CSS */

.carousel-container {
  margin-top: 15px;
}

.slide-show {
  margin-top: 10px;
}

.slide-pic {
  height: 30vh;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  color: white;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.center-left {
  position: absolute;
  top: 70px;
  left: 10px;
  width: 50px;
}

#iam {
  width: 10px;
}

#single-sign-on {
  color: black;
}

#customer-id {
  color: black;
  width: 10px;
}

.carousel-indicators {
  bottom: 220px;
}

/* Why Atlas Section */
.why_container {
  display: flex;
  border: 1px solid black;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
}

.why-image {
  width: 50%;
}

.why-card-flex {
  display: flex;
  border: 1px solid black;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

